<div class="background-box"></div>
<%- layout('./layouts/main.ejs') %> 

<h1 class="text-center mt-5 text-white popp">Banco</h1>

<div class="m-5 d-flex justify-content-center">
    <div class="col d-flex flex-column align-items-center">
        <div class="plastico bg-info d-flex flex-column justify-content-around p-4 sombra">
            <div class="align-self-end">
                <h5 class="popp text-white sombrat">Banco de Novourne</h5>
            </div>
            <div class="align-self-center">
                <p><%= account.cardNumber %></p>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="popp text-white sombrat"><%= user.name %> <%= user.lastname %></h5>
                <div>
                    <p>CVV <%= account.CVV %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <% if(user.gender == "m") { %> 
            <h2 class="text-white popp">Bienvenida Sra. <%= user.lastname %></h2>
        <% } else { %>
            <h2 class="text-white popp">Bienvenido Sr. <%= user.lastname %></h2>
        <% } %>
        <h4 class="text-white popp">Su cuenta tiene <%= account.balance %>.00 NVP.</h4>
        <% if(user.isVerified) { %>
            <div class="row w-75">
                <button class="col btn btn-light rounded m-4" disabled>Pedir prestamo</button>
                <button class="col btn btn-info rounded m-4" data-toggle="modal" data-target=".transferModal">Transferir dinero</button>
            </div>
            <% } else { %>
            <div class="row w-75">
                <button class="col btn btn-light rounded m-4" disabled>Pedir prestamo</button>
                <button class="col btn btn-info rounded m-4" data-toggle="modal" data-target=".transferModal" disabled>Transferir dinero</button>
            </div>
            <p class="text-center popp my-1 text-white">Aún no eres usuario verificado.</p>
            <% } %>
    </div>
</div>
<div>
    <% if(user.isVerified) { %>
        <p class="popp text-white text-center">Para retirar dinero acude a tu sucursal mas cercana.</p>
    <% } %>
</div>
<div class="m-5 d-flex justify-content-center">

    <div class="col d-flex flex-column align-items-center">
        <div class="plastico5 sombra bg-dark w-75">
            <div>
                <h4 class="popp m-2 text-center text-white">Historial de transacciones</h4>
            </div>
            <hr class="bg-light">
            <div class="row">
                <div class="col text-center text-white popp"><i class="fas fa-arrow-down"></i> Entradas</div>
                <div class="col text-center text-white popp"><i class="fas fa-arrow-up"></i> Salidas</div>
            </div>    
            <div class="row">
                <% if(transactionsFrom<1 && transactionsTo<1) { %>
                    <div>
                        <div class="d-flex flex-column align-items-center my-4">
                            <img src="assets/triste.png" alt="triste" width="100">
                            <h4 class="text-center text-white popp mt-3">Aqui no hay nada</h4>
                        </div>
                    </div>
                <% } else { %>
                    <div class="row">
                        <div class="col p-4">
                        <% transactionsTo.forEach(e => { %>
                            <% let date = e.createdAt %>
                            <% let minutes = date.getMinutes() %>
                            <div class="d-flex justify-content-between align-items-center mx-3">
                                <% if(e.state == "transfered") { %>
                                    <div class="d-flex align-items-center w-75">
                                        <div class="bg-success thicon rounded"></div>
                                        <div class="mx-3 text-white">
                                            Recibido <%= e.quantity %>.00 NVP de <%= e.from %>
                                        </div>
                                    </div>
                                    <div class="popp text-white">
                                        <%= date.getDate() %>/<%= date.getMonth()+1 %>/<%= date.getFullYear() %> <%= date.getHours()-1 %>:<% if(minutes<10) { %>0<%= minutes %><% } else { %><%= minutes %><% } %>
                                    </div>
                                <% } %>
                            </div>
                        <% }) %>
                        </div>
                        <div class="col p-4">
                            <% transactionsFrom.forEach(e => { %>
                                <% let date = e.createdAt %>
                                <% let minutes = date.getMinutes() %>
                                <div class="d-flex justify-content-between align-items-center mx-3">
                                    <% if(e.state == "transfered") { %>
                                        <div class="d-flex align-items-center w-75">
                                            <div class="bg-success thicon rounded"></div>
                                            <div class="mx-3 text-white">
                                                Enviado <%= e.quantity %>.00 NVP a <%= e.to %>
                                            </div>
                                        </div>
                                        <div class="popp text-white">
                                            <%= date.getDate() %>/<%= date.getMonth()+1 %>/<%= date.getFullYear() %> <%= date.getHours()-1 %>:<% if(minutes<10) { %>0<%= minutes %><% } else { %><%= minutes %><% } %>
                                        </div>
                                    <% } else if(e.state == "rejected") { %>
                                        <div class="d-flex align-items-center w-75">
                                            <div class="bg-danger thicon rounded"></div>
                                            <div class="mx-3 text-white">
                                                Transaccion rechazada
                                            </div>
                                        </div>
                                        <div class="popp text-white">
                                            <%= date.getDate() %>/<%= date.getMonth()+1 %>/<%= date.getFullYear() %> <%= date.getHours()-1 %>:<% if(minutes<10) { %>0<%= minutes %><% } else { %><%= minutes %><% } %>
                                        </div>
                                    <% } else if(e.state == "nofounds") { %>
                                        <div class="d-flex align-items-center w-75">
                                            <div class="bg-warning thicon rounded"></div>
                                            <div class="mx-3 text-white">
                                                Fondos insuficientes
                                            </div>
                                        </div>
                                        <div class="popp text-white">
                                            <%= date.getDate() %>/<%= date.getMonth()+1 %>/<%= date.getFullYear() %> <%= date.getHours()-1 %>:<% if(minutes<10) { %>0<%= minutes %><% } else { %><%= minutes %><% } %>
                                        </div>
                                    <% } else { %>
                                        <div class="d-flex align-items-center w-75">
                                            <div class="bg-secondary thicon rounded"></div>
                                            <div class="mx-3 text-white">
                                                Cuenta <%= e.to %> inexistente
                                            </div>
                                        </div>
                                        <div class="popp text-white">
                                            <%= date.getDate() %>/<%= date.getMonth()+1 %>/<%= date.getFullYear() %> <%= date.getHours()-1 %>:<% if(minutes<10) { %>0<%= minutes %><% } else { %><%= minutes %><% } %>
                                        </div>
                                    <% } %>
                                </div>
                            <% }) %>
                            </div>
                    </div>
                <% } %>
            </div>        
        </div>
    </div>

</div>

<div class="modal fade transferModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded">
          <div class="card-body p-5">
              <h3 class="mb-4 text-center">Transferencia</h3>
              <form action="/bank/transfer" method="POST" class="d-grid gap-2">
  
                  <div class="form-group">

                    <div class="d-flex align-items-center my-3">
                        <div class="mx-1 w-100">
                            <label for="from">Tu cuenta</label>
                            <input class="form-control rounded" type="text" name="from" value=<%= account.cardNumber %> readonly>
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center my-3">
                        <div class="mx-1 w-100">
                            <label for="from">Cuenta destino</label>
                            <input class="form-control rounded" type="text" name="to" required>
                        </div>
                    </div>

                    <div class="form-group my-3">
                        <div class="input-group">
                            <input type="Number" class="form-control" placeholder="Cantidad" name="cant" required>
                            <div class="invalid-feedback">
                              Cantidad
                            </div>
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupPrepend">NVP</span>
                            </div>
                          </div>
                    </div>

                    <div class="form-group my-3">
                        <input class="form-control rounded" type="text" name="concept" placeholder="Concepto" required>
                    </div>
  
                  <div class="row mt-4">
                      <div class="col">
                          <button class="btn btn-primary w-100 rounded" data-dismiss="modal">Volver</button>
                      </div>
                      <div class="col">
                          <button class="btn btn-info w-100 rounded" type="submit">Transferir</button>
                      </div>
                  </div>
  
              </form>
          </div>
      </div>
    </div>
  </div>