<div class="rainbow-box"></div>
<%- layout('./layouts/main.ejs') %> 

<h1 class="text-center mt-5 text-white popp">Banco</h1>

<div class="m-5 d-flex justify-content-center">
    <div class="col d-flex flex-column align-items-center">
        <div class="plastico d-flex flex-column justify-content-around p-4 sombra">
            <div class="align-self-end">
                <h5 class="popp text-white sombrat">Banco de Novourne</h5>
            </div>
            <div class="align-self-center">
                <p><%= account.cardNumber %></p>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="popp text-white sombrat"><%= user.name %> <%= user.lastname %></h5>
                <div>
                    <p>CVV <%= account.CVV %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-white popp">Bienvenido Sr. <%= user.lastname %></h2>
        <h4 class="text-white popp">Su cuenta tiene <%= account.balance %>.00 NVP.</h4>
    </div>
</div>