<div class="background-box"></div>
<%- layout('./layouts/main.ejs') %> 

<div class="animate__animated animate__slideInLeft">
    <div class="bg-danger d-flex align-items-center">
        <span class="text-white popp mx-5 fs-1">Canal 13</span>
        <a href="/news" class="text-white btn btn-danger">Ultima Hora</a>
        <a href="#" class="text-white btn btn-danger">Gobierno</a>
        <a href="#" class="text-white btn btn-danger">Economia</a>
        <a href="#" class="text-white btn btn-danger">Entretenimiento</a>
    </div>
    <div class="d-flex">
        <div class="col-4">
            <div class="breakingCont">
                <img class="breakingImg" src="https://cdn.discordapp.com/attachments/1105574494996807683/1133967768803360819/Screenshot_20230726_212921.jpg">
            </div>
        </div>
        <div class="col-8 bg-light">
            <div>
                <p class="text-break fs-1 p-5 text-center popp text-uppercase">"Novourne, cuna de tradiciones, cimientos de progreso y hogar de una comunidad que día a día construye su futuro con pasión y esfuerzo."</p>
                <p class="text-break text-center popp">Por: Zuzu Reebuch</p>
                <p class="popp text-center">3/8/2023</p>
            </div>
        </div>
    </div>
    <div class="d-flex bg-light h-100">
        <% news.forEach(e => { %>
            <a href="/news/<%= e.id %>" class="col h-100 noOver">
                <div class="newsCont">
                    <img src=<%= e.thumbnail %> alt="Noticia" class="newsImg">
                </div>
                <div class="noOver p-5">
                    <p class="text-break text-center text-uppercase fs-4"><%= e.title %></p>
                    <p class="text-break text-center text-uppercase"><%= e.author %></p>
                    <p class="text-break text-center text-uppercase"><%= e.createdAt.getDate() %>/<%= e.createdAt.getMonth()+1 %>/<%= e.createdAt.getFullYear() %></p>
                </div>
            </a>
        <% }) %>
    </div>
</div>