<div class="rainbow-box"></div>
<%- layout('layouts/main.ejs') %> 
<div>
    <div class="col-md-4 offset-md-4">
        <div class="card mt-5 text-center rounded">
            <div class="card-header">
                <h3>Perfil</h3>
            </div>
            <div class="card-body">
                <div class="ppContainer pt-3">
                    <% if(user.photo != null) { %>
                        <div class="profcont">
                            <img src=<%= user.photo %> alt="perfil" class="profimg">
                        </div>
                    <% } else { %> 
                        <div class="profcont">
                            <img src=assets/noimage.jpg alt="perfil" class="profimg">
                        </div>
                    <% } %> 
                </div>
                <h3 class="p-2"><%= user.name %> <%= user.lastname %></h3>
                <p><%= user.email %></p>
                <p><%= user.age %> años</p>
                <div class="row pt-3">
                    <div class="col">
                        <button class="btn btn-primary w-100" data-toggle="modal" data-target=".bd-example-modal-sm">Editar perfil</button>
                    </div>
                    <div class="col">
                        <a class="btn btn-danger w-100" href="/logout">Cerrar sesion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded">
        <div class="card-body p-5">
            <h3 class="mb-4 text-center">Actualiza tu perfil</h3>
            <form action="/profile/update" method="POST" class="d-grid gap-2">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Correo Electronico" value=<%= user.email %>>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Nombre" value=<%= user.name %>>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastname" placeholder="Apellido" value=<%= user.lastname %>>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="age" placeholder="Edad" value=<%= user.age %>>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="photo" placeholder="Foto de perfil" value=<%= user.photo %>>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button class="btn btn-primary w-100" data-dismiss="modal">Volver</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger w-100" type="submit">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<div class="modal fade passwordModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded">
        <div class="card-body p-5">
            <h3 class="mb-4 text-center">Restablecer contraseña</h3>
            <form action="/profile/password/update" method="POST" class="d-grid gap-2">

                <div class="form-group">
                    <input class="form-control" type="password" name="oldPassword" placeholder="Contraseña actual">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="newPassword" placeholder="Nueva contraseña">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="newPassword2" placeholder="Confirmar nueva contraseña">
                </div>

                <div class="row mt-4">
                    <div class="col">
                        <button class="btn btn-primary w-100" data-dismiss="modal">Volver</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger w-100" type="submit">Actualizar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
  </div>
</div>