<div class="neoland-box-bg"></div>
<%- layout('layouts/main.ejs') %> 
<div>
    <div class="col-md-4 offset-md-4">
        <div class="card mt-5 text-center rounded animate__animated animate__fadeIn">
            <div class="card-header">
                <h3>Perfil</h3>
            </div>
            <div class="card-body">
                <div class="ppContainer pt-3">
                    <% if(user.photo != null) { %>
                        <div class="profcont">
                            <img src=<%= user.photo %> alt="perfil" class="profimg">
                        </div>
                    <% } else { %> 
                        <div class="profcont">
                            <img src=assets/noimage.jpg alt="perfil" class="profimg">
                        </div>
                    <% } %> 
                </div>

                <% if(user.isVerified) { %>
                    <div class="d-flex justify-content-center">
                        <h3 class="p-2"><%= user.name %> <%= user.lastname %></h3>
                        <img src="assets/verified.png" alt="verificado" width="20" height="20">
                    </div>
                <% } else { %>
                    <h3 class="p-2"><%= user.name %> <%= user.lastname %></h3> 
                <% } %>
                <p>@<%= user.username %></p>
                <div class="row pt-3">
                    <div class="col">
                        <button class="btn btn-primary w-100 rounded" data-toggle="modal" data-target=".bd-example-modal-sm">Editar perfil</button>
                    </div>
                    <div class="col">
                        <a class="btn btn-danger w-100 rounded" href="/logout">Cerrar sesion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if(!user.isVerified) { %>
        <div class="d-flex flex-column align-items-center mt-5">
            <h4 class="text-center text-white popp mt-3">Aún no eres usuario verificado</h4>
            <p class="popp text-white">Contacta a los administradores.</p>
        </div>
    <% } %>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded">
        <div class="card-body p-5">
            <h3 class="mb-4 text-center">Actualiza tu perfil</h3>
            <form action="/profile/update" method="POST" class="d-grid gap-2">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Correo Electronico" value=<%= user.email %>>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Nombre" value=<%= user.name %>>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastname" placeholder="Apellido" value=<%= user.lastname %>>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Usuario de Minecraft" value=<%= user.username %>>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="photo" placeholder="Foto de perfil" value=<%= user.photo %>>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button class="btn btn-primary w-100 rounded" data-dismiss="modal">Volver</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger w-100 rounded" type="submit">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<div class="modal fade passwordModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded">
        <div class="card-body p-5">
            <h3 class="mb-4 text-center">Restablecer contraseña</h3>
            <form action="/profile/password/update" method="POST" class="d-grid gap-2">

                <div class="form-group">
                    <input class="form-control" type="password" name="oldPassword" placeholder="Contraseña actual">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="newPassword" placeholder="Nueva contraseña">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="newPassword2" placeholder="Confirmar nueva contraseña">
                </div>

                <div class="row mt-4">
                    <div class="col">
                        <button class="btn btn-primary w-100" data-dismiss="modal">Volver</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger w-100" type="submit">Actualizar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
  </div>
</div>