<div class="background-box"></div>
<%- layout('./layouts/main.ejs') %> 


<div class="d-flex">
    <div class="col bg-dark">
        <h1 class="text-center mt-4 text-white popp">Social</h1>
        <h4 class="mb-4 text-center text-white popp">Otros jugadores</h4><hr>

        <div class="mx-4">
            <% users.forEach(e => { %>
            <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex">
                    <div class="d-flex m-2 align-items-center">
                        <div>
                            <% if(e.photo != null) { %>
                                <div class="profcont3">
                                    <img src=<%= e.photo %> alt="perfil" class="profimg">
                                </div>
                            <% } else { %> 
                                <div class="profcont3">
                                    <img src=assets/noimage.jpg alt="perfil" class="profimg">
                                </div>
                            <% } %> 
                        </div>
                    </div>
                    <div class="d-flex flex-column m-2 justify-content-center">
                        <% if(e.isVerified) { %>
                            <div class="d-flex text-white fs-4"><%= e.name %> <%= e.lastname %><img src="assets/verified.png" alt="verificado" width="15" height="15" class="align-self-start m-1"></div>
                            <div class="text-white">@<%= e.username %></div>
                        <% } else { %>
                            <div class="text-white fs-4"><%= e.name %> <%= e.lastname %></div>
                            <div class="text-white">@<%= e.username %></div>
                        <% } %>
                    </div>
                </div>
            </div><hr>
            <% }) %>
        </div>
    </div>
    <div class="col mx-5 d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center mt-3">
            <% if(posts.length>0) { %>
                <% posts.forEach(e => { %>
                    <div class="m-2">
                        <a href="/posts/<%= e.id %>" class="text-decoration-none">
                        <div class="plastico3 d-flex p-4 sombra">
                            <div class="">
                                <% if(e.author.photo != null) { %>
                                    <div class="profcont2">
                                        <img src=<%= e.author.photo %> alt="perfil" class="profimg">
                                    </div>
                                <% } else { %> 
                                    <div class="profcont2">
                                        <img src=assets/noimage.jpg alt="perfil" class="profimg">
                                    </div>
                                <% } %> 
                            </div>
                            <div class="mx-4 w-100">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <% if(e.author.isVerified) { %>
                                            <div class="d-flex">
                                                <h5 class="p-2"><%= e.author.name %> <%= e.author.lastname %></h5>
                                                <img src="assets/verified.png" alt="verificado" width="20" height="20">
                                            </div>
                                        <% } else { %>
                                            <h5 class="p-2"><%= e.author.name %> <%= e.author.lastname %></h5> 
                                        <% } %>
                                        <div>
                                            <p class="px-2">
                                                <% let date = e.createdAt %>
                                                <% let minutes = date.getMinutes() %>
                                                <%= date.getDate() %>/<%= date.getMonth()+1 %>/<%= date.getFullYear() %> <%= date.getHours()-1 %>:<% if(minutes<10) { %>0<%= minutes %><% } else { %><%= minutes %><% } %>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="text-break px-2"><%= e.textbody %></p>
                                </div>
                                <% if(e.thumbnail) { %>
                                    <div class="postImgCont w-100">
                                        <img src=<%= e.thumbnail %> alt="imagen" class="postImg">
                                    </div>
                                <% } %>
                                <div class="text-end">
                                    <%= e.comments.length %> <i class="far fa-comment"></i>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                <% }) %>
            <% } else { %>
                <img src="assets/triste.png" alt="triste" width="200">
                <h4 class="text-center text-white popp mt-3">Aún no hay publicaciones</h4>
            <% } %>
        </div>
    </div>
    
    <div class="col mx-5 d-flex flex-column align-items-center justify-content-between">
        <% if(user.isVerified) { %>
            <div class="d-flex flex-column justify-content-center mt-3 w-75">
                <button class="btn btn-light rounded mt-3" data-toggle="modal" data-target=".postModal">Crear publicacion</button>
                <h4 class="text-center text-white popp mt-3">Eres usuario verificado.</h4>
            </div>
        <% } else { %>
            <div class="d-flex flex-column justify-content-center mt-3 w-75">
                <button class="btn btn-light rounded mt-3" data-toggle="modal" data-target=".postModal" disabled>Crear publicacion</button>
                <h4 class="text-center text-white popp mt-3">Aún no eres usuario verificado.</h4>
            </div>
        <% } %>
        <div class="text-center">
            <div class="d-flex justify-content-between">
                <a href="#" class="nav-link">Condiciones de Servicio</a>
                <a href="#" class="nav-link">Política de Privacidad</a>
            </div>
            <p>© 2023 Novourne Copyright. Todos los derechos reservados. v0.0.8</p>
        </div>
    </div>
</div>

<div class="modal fade postModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded">
          <div class="card-body p-5">
              <h3 class="mb-4 text-center">Crear una publicacion</h3>
              <form action="/social/post" method="POST" class="d-grid gap-2">
  
                  <div class="form-group">

                    <div class="d-flex align-items-center my-3">
                        <div>
                            <% if(user.photo != null) { %>
                                <div class="profcont3">
                                    <img src=<%= user.photo %> alt="perfil" class="profimg">
                                </div>
                            <% } else { %> 
                                <div class="profcont3">
                                    <img src=assets/noimage.jpg alt="perfil" class="profimg">
                                </div>
                            <% } %> 
                        </div>
                        <div class="mx-4">
                            <div>
                                <% if(user.isVerified) { %>
                                    <div class="d-flex justify-content-center">
                                        <h5 class="px-2"><%= user.name %> <%= user.lastname %></h5>
                                        <img src="assets/verified.png" alt="verificado" width="20" height="20">
                                    </div>
                                <% } else { %>
                                    <h5 class="p-2"><%= user.name %> <%= user.lastname %></h5> 
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control rounded" name="textbody" rows="5" placeholder="Escribe algo..." maxlength="320"></textarea>
                    </div>

                    <div class="form-group my-3">
                        <input class="form-control rounded" type="text" name="photo" placeholder="Agrega una imagen">
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" disabled>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Publicacion anónima</label>
                      </div>
  
                  <div class="row mt-4">
                      <div class="col">
                          <button class="btn btn-primary w-100 rounded" data-dismiss="modal">Volver</button>
                      </div>
                      <div class="col">
                          <button class="btn btn-success w-100 rounded" type="submit">Publicar</button>
                      </div>
                  </div>
  
              </form>
          </div>
      </div>
    </div>
  </div>